@page "/main"

<PageTitle>Main</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="10">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            <MudGrid>
                <MudItem xs="4">
                    <MudImage Src="https://mudblazor.com/images/mony.jpg" Alt="Mony the dog" Elevation="25" Class="rounded-lg" />
                    <span style="color: white; font-size: 30px">Estanta</span>
                </MudItem>
                <MudItem xs="1">
                    <div style="display: table-cell;
                                height: 100px;
                                vertical-align: middle;">
                        <h2 style="color: white; vertical-align: middle">Home</h2>
                    </div>
                </MudItem>
                <MudItem xs="1">
                    <div style="display: table-cell;
                                height: 100px;
                                vertical-align: middle;">
                        <h2 style="color: white">About</h2>
                    </div>
                </MudItem>
                <MudItem xs="1">
                    <div style="display: table-cell;
                                height: 100px;
                                vertical-align: middle;">
                        <h2 style="color: white">Contact</h2>
                    </div>
                </MudItem>
                <MudItem xs="2">
                    <div style="display: table-cell;
                                height: 100px;
                                vertical-align: middle;">
                        <h2 style="color: white">Service</h2>
                    </div>
                </MudItem>
                <MudItem xs="3">
                    <div style="display: table-cell;
                                height: 100px;
                                vertical-align: middle;">
                        <h2 style="color: white">Button</h2>
                    </div>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudItem>
</MudGrid>